src/vaja
bin/*
!bin/.gitkeep
tests/test_parser
tests/test_lexer
tests/test_eval
tests/test_obj
tests/test_builtins_array
tests/test_builtins_string
tests/test_builtins_hashmap
tests/test_builtins_http
tests/test_builtins_io
tests/test_builtins_regex
tests/test_builtins_json
tests/test_builtins_base64
tests/test_ast_modify
tests/test_macro_expansion
tests/test_code
tests/test_compiler
tests/test_vm
docs/wacig*
